<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eu.profinit.manta.connector.java.analysis.mybatis.handler.mapper.features.MyBatisComplexFeaturesXmlMappers$SelectAllChooseXmlMapper">
    <resultMap id="resultMap" type="eu.profinit.manta.connector.java.analysis.mybatis.handler.mapper.singleid.MyBatisSingleIdTestModel">
        <result property="id" column="TABLE_ID"/>
        <result property="value" column="TABLE_VALUE"/>
    </resultMap>

    <select id="selectAllValues" resultMap="resultMap">
        SELECT TABLE_ID, TABLE_VALUE
        FROM TABLE_NAME
        <choose>
            <when test="values != null">
                WHERE TABLE_VALUE IN
                <foreach collection="values" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <when test="values.size() == 1">
                TABLE_ID = 5
            </when>
            <otherwise>
                TABLE_VALUE = TEST
            </otherwise>
        </choose>
    </select>
</mapper>