<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eu.profinit.manta.connector.java.analysis.mybatis.handler.mapper.features.MyBatisComplexFeaturesXmlMappers$SelectAllWhereTrimXmlMapper">
    <resultMap id="resultMap" type="eu.profinit.manta.connector.java.analysis.mybatis.handler.mapper.singleid.MyBatisSingleIdTestModel">
        <result property="id" column="TABLE_ID"/>
        <result property="value" column="TABLE_VALUE"/>
    </resultMap>

    <select id="selectAllValues" resultMap="resultMap">
        SELECT TABLE_ID, TABLE_VALUE
        FROM TABLE_NAME
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="values != null">
                AND TABLE_VALUE IN
                <foreach collection="values" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="values.size() == 1">
                AND TABLE_ID = 4
            </if>
        </trim>
    </select>
</mapper>